@model AggregationService.Models.DebtCardService.DebtCardInfoFullWithId

@{
    ViewData["Title"] = "EditeAll";
}

<h2>EditeAll</h2>

<h4>DebtCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditeAll">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="ID" class="control-label" ></label>*@
                <input asp-for="ID" class="form-control"type="hidden"/>
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardName" class="control-label"></label>
                <input asp-for="CardName" class="form-control" />
                <span asp-validation-for="CardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentPerDay" class="control-label"></label>
                <input asp-for="PaymentPerDay" class="form-control" />
                <span asp-validation-for="PaymentPerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDefault" class="control-label"></label>
                <input asp-for="PaymentDefault" class="form-control" />
                <span asp-validation-for="PaymentDefault" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                @*<label asp-for="LibrarySystemID" class="control-label"></label>*@
                <input asp-for="LibrarySystemID" class="form-control" type="hidden"/>
                <span asp-validation-for="LibrarySystemID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LibrarySystemName" class="control-label"></label>
                <input asp-for="LibrarySystemName" class="form-control" />
                <span asp-validation-for="LibrarySystemName" class="text-danger"></span>
            </div>

            <div class="form-group">
                @*<label asp-for="AuthorID" class="control-label"></label>*@
                <input asp-for="AuthorID" class="form-control" type="hidden"/>
                <span asp-validation-for="AuthorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorRating" class="control-label"></label>
                <input asp-for="AuthorRating" class="form-control" />
                <span asp-validation-for="AuthorRating" class="text-danger"></span>
            </div>

            <div class="form-group">
                @*<label asp-for="BookID" class="control-label"></label>*@
                <input asp-for="BookID" class="form-control" type="hidden"/>
                <span asp-validation-for="BookID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookPageCount" class="control-label"></label>
                <input asp-for="BookPageCount" class="form-control" />
                <span asp-validation-for="BookPageCount" class="text-danger"></span>
            </div>

            <div class="form-group">
                @*<label asp-for="LibraryID" class="control-label"></label>*@
                <input asp-for="LibraryID" class="form-control" type="hidden"/>
                <span asp-validation-for="LibraryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LibraryName" class="control-label"></label>
                <input asp-for="LibraryName" class="form-control" />
                <span asp-validation-for="LibraryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountBooksPerLibrary" class="control-label"></label>
                <input asp-for="CountBooksPerLibrary" class="form-control" />
                <span asp-validation-for="CountBooksPerLibrary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}